.cardWrap {
  width: 275px;
  height: 170px;
  background-color: #666666;
  overflow: hidden;
  margin-top: auto;
}
.cardArea {
  width: 260px;
  height: 160px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  position: relative;
}
.cardTitle {
  color: #666666;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  flex-direction: "row";
  justify-content: space-between;
}
.icon {
  position: relative;
  left: 110px;
}
.cardContent {
  padding-left: 10px;
  text-align: left;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.arrowWrap {
  display: flex;
  position: absolute;
  bottom: 20px;
}
.cardArrow {
  padding-left: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.cardLabel {
  position: relative;
  left: 70px;
  color: #666666;
  font-size: 15px;
}
