.page {
  position: relative;
  top: 0;
  bottom: 0;
  width: 50%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f7f7f7;
  overflow: hidden;
  flex-direction: column;
  height: 95vh;
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: bold;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 15px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}
.nav-button {
  color: darkgray;
  background-color: white;
  position: absolute;
  left: 77px;
  border: none;
}
