.cardArea {
  display: block;
  width: 265px;
  height: 170px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  position: relative;
}

.cardTitle {
  color: #666666;
  padding-top: 10px;
  padding-left: 20px !important;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.icon {
  font-size: 30px;
  color: #134f5c;
}

.cardContent {
  display: flex;
  padding-left: 10px;
  text-align: left;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  flex-direction: column;
}

.arrowWrap {
  display: flex;
  position: absolute;
  bottom: 20px;
  margin-top: -8px;
}

.cardArrow {
  padding-left: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.cardLabel {
  position: relative;
  left: 10px;
  color: #666666;
  font-size: 18px;
}

.cardLabel p {
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
}
